<div class="content-block">
  <div class="col-md-12">
    <h1><%= title %></h1>
    <p class="lead">
      Patch editor/management tool for the <%- include('external-link', {url: 'http://www.akaipro.com/product/miniak', text: 'Akai Miniak'}) %>
      / <%- include('external-link', {url: 'http://www.vintagesynth.com/misc/micron.php', text: 'Alesis Micron'}) %> synthesiser
      <br>
      <br>
      <img src="<%- image('miniak-patch-editor.jpg') %>" alt="miniak patch editor screenshot" class="headline-image">
    </p>
  </div>
  <div class="row content-block ">
      <div class="col-md-12">
          <h3><a href="<%= github %>" target="_blank">Download from Github<i class="icon-external-link"></i></a></h3>
          <p>Miniak Patch Editor is a <%- include('external-link', {url: 'http://www.cycling74.com/', text: 'MaxMSP'}) %> patch that can be downloaded and used <strong>for free!</strong></p>
          <p>The download includes:</p>
          <ul>
              <li>The Miniak Patch Editor MaxMSP patch</li>
              <li>A template for controlling Miniak Patch Editor from the popular iDevice software
                  <%- include('external-link', {url: 'http://hexler.net/software/touchosc', text: 'TouchOSC'}) %>, created by <strong>Adam
                  Neddo</strong> (see documentation for contact details). <em>Note the template controls the editor
                  software
                  (which updates the Miniak in realtime), but not the Miniak directly</em></li>
              <li>Documentation for setup and use</li>
              <li>A folder of example patches</li>
          </ul>
      </div>
  </div>
  <hr>
  <div class="col-md-12 alert alert-info">
    <p>
      <em>
        This software used to be a paid download - i no longer maintain those versions of the app (I couldn't keep up with Windows/OS X changes). For those who paid for tha app in tha past, thanks for your support!
      </em>
    </p>
  </div>
</div>
