<div class="content-block">
  <div class="col-md-12">
    <h1><%= title %></h1>
    <p class="lead">
      <%- include('external-link', {url: 'http://www.ableton.com/maxforlive', text: 'Max or Live'}) %> devices I have made
    </p>
  </div>
  <div class="col-md-12">
    <hr>
    <h2>Device Snapshot Manager</h2>
    <p class="lead">
      Adds the ability to store and recall ‘snapshots’ of Ableton Live devices in realtime
      <br>
      <br>
      <img src="<%- image('dsm-screenshot.jpg') %>" alt="device snapshot manager screenshot" class="headline-image">
    </p>
  </div>
  <div class="row content-block ">
    <div class="col-md-6">
      <h3>Download full version</h3>
      <p>Device Snapshot Manager is distributed as two fully editable Max For Live .amxd files – one MIDI effect and one Audio effect.</p>
      <p>It is known to work with Ableton Live 8, but I've not updated for a very loooong time</p>
      <%- include('download', { file: 'm4l-device-snapshot-manager-v1-1-1.zip', text: 'Download' })%>
      <br>
      <br>
      <%- include('documentation', { file: 'DeviceSnapshotManager.pdf' })%>
    </div>
    <div class="col-md-6 no-spill">
      <h3>Watch</h3>
      <iframe width="336" height="252" src="https://www.youtube.com/embed/IIeFszBbUHc" frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
  <div class="col-md-12">
    <h3>Version History</h3>
    <h4>1.1.1</h4>
    <ul>
      <li>Fixed bug where snapshots with more than 128 parameters were not fully recalled</li>
      <li>Improved speed of JS-based Live API interactions</li>
    </ul>
    <h4>1.1.0</h4>
    <ul>
      <li> Added ability to name snapshots</li>
    </ul>
  </div>
  <div class="col-md-12">
    <hr>
    <h2>Where Am I</h2>
    <p class="lead">
      Device that displays Live API information for the currently selected element of the Ableton Live interface
      <br>
      <br>
      <img src="<%- image('wai-screenshot.jpg') %>" alt="where am i screenshot" class="headline-image">
    </p>
  </div>
  <div class="row content-block ">
    <div class="col-md-12">
      <h3>Download full version</h3>
      <p>Where Am I is distributed as a free Max For Live Audio effect (the download also includes documentation). The downloaded .amxd file is fully editable and re-usable.</p>
      <p>It is known to work with Ableton Live 8, but I've not updated for a very loooong time</p>
      <%- include('download', { file: 'm4l-where-am-i-v1-1-0.zip', text: 'Download' })%>
      <br>
      <br>
      <%- include('documentation', { file: 'WhereAmI.pdf' })%>
    </div>
  </div>
  <div class="col-md-12">
    <h3>Version History</h3>
    <h4>1.1.0</h4>
    <ul>
      <li>Device no longer fills Lives undo buffer when observing changes in selected track/device/etc</li>
    </ul>
  </div>
  <div class="col-md-12">
    <hr>
    <h2>MIDI Clip Modulo</h2>
    <p class="lead">
      Device that adds extra functionality to note editing in Ableton Live's MIDI clips
      <br>
      <br>
      <img src="<%- image('midi-clip-modulo.jpg') %>" alt="midi clip modulo screenshot" class="headline-image">
    </p>
  </div>
  <div class="row content-block ">
    <div class="col-md-12">
      <h3>Download full version</h3>
      <p>Midi Clip Modulo's functionality can be mapped to keyboard/MIDI shortcuts to quickly integrate into your clip editing workflow. The device always makes edits to the currently selected MIDI clip, and all edits are fully undo-able via Lives undo function</p>
      <p>It is known to work with Ableton Live 8, but I've not updated for a very loooong time</p>
      <%- include('download', { file: 'm4l-midi-clip-modulo-v1-0-0.zip', text: 'Download' })%>
      <br>
      <br>
      <%- include('documentation', { file: 'MidiClipModulo.pdf' })%>
    </div>
  </div>
  <div class="col-md-12 alert alert-info">
    <hr>
    <p>
      <em>
        Paid software downloads from ChipPanFire are managed
        via <%- include('external-link', {url: 'http://www.oronjo.com/', text: 'Oronjo'}) %>. Clicking a ‘Buy’ button
        will take you to the Oronjo site where the software can be bought via Paypal
      </em>
    </p>
  </div>
</div>
