<% const chunk = (x, size = 3) => x.reduce(([l, r]) => [l.concat([r.slice(0, size)]), r.slice(size)], [[], x])[0].filter(a => a.length) %>
<div class="content-block">
    <div class="col-md-12">
        <h1><%= title %></h1>
        <p class="lead">
            I've made some software to help me (and others) make music, principally
            with <%- include('external-link', {url: 'http://www.cycling74.com/', text: 'MaxMSP'}) %>
            and <%- include('external-link', {url: 'http://www.ableton.com', text: 'Ableton Live'}) %>. Some of it is available here.
            Some is free, some costs a small amount.
        </p>
    </div>
    <% chunk(linked).forEach(three => { %>
    <div class="row ">
        <% three.forEach(linkedPage => { %>
        <div class="col-md-4">
            <div class="software-menu-item">
                <h3><a href="<%= linkedPage.href %>"><%= linkedPage.content.title %></a></h3>
                <p><%= linkedPage.strapline %></p>
            </div>
        </div>
        <% }) %>
    </div>
    <% }) %>
</div>
